{% extends "pages.extendeable" %}

{% import "macros.breadcrumb" as breadcrumb %}

{% block content %}
    <div class="col-sm-3">
        {#
        <h5 class="md-title">Contacts</h5>
        <ul class="nav nav-pills nav-stacked nav-contacts">
            <li class="active">
                <a href="">
                    All Contacts
                    <span class="badge pull-right">300+</span>
                </a>
            </li>
            <li>
                <a href="">
                    My Contacts
                    <span class="badge pull-right">141</span>
                </a>
            </li>
            <li>
                <a href="">
                    Skype Contacts
                    <span class="badge pull-right">12</span>
                </a>
            </li>
            <li>
                <a href="">
                    Google Contacts
                    <span class="badge pull-right">28</span>
                </a>
            </li>
        </ul>

        <br />
        #}
        {% if Visitor.exists %}
        <h5 class="md-title">{% block fav_title %}{% endblock %}</h5>
        <div class="list-group people-group">
            {% block fav_list %}{% endblock %}

        </div><!-- list-group -->
        {% endif %}

    </div><!-- col-sm-3 -->
    <div class="col-sm-9">
{#
        <div class="well mt10">
            <div class="row">
                <div class="col-sm-9">
                    <input type="text" placeholder="Who are you looking for?" class="form-control">
                </div>
                <div class="col-sm-3">
                    <select id="search-type" class="width100p" data-placeholder="Search Type">
                        <option value="">Choose One</option>
                        <option value="Full Name" selected>Full Name</option>
                        <option value="Position">Position</option>
                        <option value="Company">Company</option>
                    </select>
                </div>
            </div>
        </div><!-- well -->

        <br />
#}
        <div class="pull-right">
            {{ models.links }}
        </div>
        <h3 class="xlg-title">{{ title }}</h3>

        <div class="list-group contact-group">
            {% for item in models %}
                {% block item %}{% endblock %}
            {% endfor %}

        </div>
    </div>
{% endblock %}