{% extends "pages.extendeable" %}

{% block content_wrap %}
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">


                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}